body {
    background-color: #FAF3E0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-x: hidden;
    margin: 0 auto;
    user-select: none;
    font-family: 'Prata', serif;
}

* {
    box-sizing: border-box;
    padding: 0;
}

#middle-container {
    height: 35vw;
    display: flex;
    padding: 2vw;
    gap: 2vw;
}

#about-section {
    height: 100%;
    width: 40%;
    text-align: center;

}

#about-heading {
    user-select: none;
    font-size: 1.8vw;
}

#about-text {
    margin: 0 10% 0 10%;
    user-select: none;
    line-height: 150%;
    font-size: 1.3vw;
}

#gallery-container {
    text-align: center;
    width: 100%;
    padding: 2vw;
    margin-bottom: 50px;
}

#gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4vw;
    max-width: 100%;
}

.grid-item {
    background-color: #ffffff;
    aspect-ratio: 1;
    height: 100%;
    transition: 100ms;
    align-items: center;
    user-select: none;
}

.grid-item:hover {
    scale: 110%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.grid-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.more-text {
    margin: 0 auto;
    cursor: pointer;
}

.more-text:hover {
    font-weight: bold;
}

.img-popup {
    height: 35vw;
    width: 35vw;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #3c6464;
}

.popup-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-box {
    height: 40%;
    width: 40%;
    margin-bottom: 5%;
}

.picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-name {
    margin: 0 0 4% 0;
    font-size: 1.5vw;
}

.img-content-close {
    font-size: 3vw;
    margin: 0;
    cursor: pointer;
}

.close-box {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1% 3% 0 0;
}

.img-description {
    font-size: 1vw;
    margin: 0 3% 0 3%;
}


/* Tablet */
@media (max-width: 959px) {


    #middle-container {
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }

    #about-section {
        height: max-content;
        width: 100%;
    }

    #about-heading {
        font-size: 38px;
    }

    #about-text {
        font-size: 130%;
    }

    #gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        font-size: 20px;
        gap: 6vw;
    }

    h1 {
        font-size: 40px;
    }

    .more-text {
        font-size: 130%;
    }

    .grid-item:hover {
        scale: inherit;
    }

    .img-popup {
        height: 50vh;
        width: 70vw;
    }

    .img-name {
        font-size: 2.2vw;
    }

    .img-description {
        font-size: 2vw;
    }

    .img-content-close {
        font-size: 5vw;
    }

}


/* Smartphone */
@media (max-width: 767px) {

    #middle-container {
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }

    #gallery-container {
        padding: 10vw;
    }

    #about-heading {
        font-size: 30px;
    }

    #about-section {
        height: max-content;
        width: 100%;
    }

    #about-text {
        margin: 0 10% 0 10%;
    }

    #gallery-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 15vw;
        font-size: 20px;
    }

    .grid-item:hover {
        scale: inherit;
    }

    .img-popup {
        height: 45vh;
        width: 90vw;
    }

    .img-name {
        font-size: 4vw;
    }

    .img-description {
        font-size: 3vw;
    }

    .img-content-close {
        font-size: 7vw;
    }

}