#slider-box {
    position: relative;
    height: 100%;
    width: 60%;
    overflow: hidden; /* Verhindert, dass andere Bilder sichtbar sind */
}

#slider-content {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider-img {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

#left {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%);
    height: 3vw;
    width: 3vw;
    cursor: pointer;
    z-index: 100;
}

#right {
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%);
    height: 3vw;
    width: 3vw;
    cursor: pointer;
}

.arrow {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Tablet */
@media (max-width: 959px) {

    #slider-box {
        width: 100%;
        background-color: initial;
    }

    #left {
        height: 5vw;
        width: 5vw;
    }
    
    #right {
        height: 5vw;
        width: 5vw;
    }

}


/* Smartphone */
@media (max-width: 767px) {

    #slider-box {
        width: 100%;
        background-color: initial
    }

    #left {
        height: 7vw;
        width: 7vw;
    }
    
    #right {
        height: 7vw;
        width: 7vw;
    }

}